.sidebar {
    width: 300px;
    border-right: 1px rgba(0, 0, 0, 0.12) solid;
}

.sidebarInfo {
    background-color: #e4eaf1;
}


.sidebarHeader {
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 5px;
}

.sidebarEmail {
    padding-left: 20px;
    padding-bottom: 9px;
}

.sidebarIcons {
    padding-right: 10px;
}
